spring:
#  数据库连接
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/tlisa
    username: root
    password: fendou2017
#    文件上传配置
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
#  mybatis 配置
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

# 阿里云OSS配置
aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    bucketName: tlisa-web

# 开启事务管理日志
logging:
  level:
    org.springframework.jdbc.support.jdbcTransactionManger: debug